<launch>

  <arg name="model" default="$(find-pkg-share hexapod_vis)/urdf/hexapod2.urdf.xacro"  />
  <arg name="rvizconfig" default="$(find-pkg-share hexapod_vis)/rviz/hexapod.rviz" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" exec="robot_state_publisher" >
    <param name="robot_description" value="$(command '$(find-exec xacro) $(var model)') " />
  </node>

  <node pkg="hexapod_vis" exec="receiver_node" output="screen" />
  <node name="rviz2" pkg="rviz2" exec="rviz2" args="-d $(var rvizconfig)" />

  <node name="controller_node" pkg="hexapod_vis" exec="controller_node" output="screen" launch-prefix="gnome-terminal --" />

</launch>
